<div>

    {{#each randomBeer}}
        {{!-- <h3>{{name}}</h3>
        <img src="{{image_url}}" alt="beer" height="200px">
        <p>{{tagline}}</p>
        <p>{{description}}</p> --}}
        {{>beerpartial this}}
        <div>
            <h3>Food pairing</h3>
                {{#each food_pairing}}
                    <li>{{this}}</li>
                {{/each}}
            <p><b>Brewers tips:</b> {{brewers_tips}}</p>
        </div>
    {{/each}}

</div>